@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');
/* CSS pour la liste des Pokemon */
main{
  padding: 2rem;
}
h2 {
    text-align: center;
    color: #ffffff;
    margin: 2rem auto;
    font-weight: 600;
    font-size: 6rem;
    font-family: 'Tektur', cursive;
  }
.admin-actions{
  display: block;
  text-align: center;
  margin: 0 auto;
}
button{
  background: #ffffff;
  color: #292929;
  border: none;
  padding: .5rem 1.5rem;
  border-radius: .75rem;
  font-size: 1.6rem;
  margin: 1rem;
  font-family: 'Tektur', cursive;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background: #0622c5;
  color: #ffffff;
}
table button{
  background: #ffffff;
  color: #292929;
  border: none;
  padding: .5rem 1.5rem;
  border-radius: .75rem;
  font-size: 1.6rem;
  margin: 1rem;
  font-family: 'Tektur', cursive;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
table button:hover{
  background: #d80909;
  color: #ffffff;
}
input{
  background: #ffffff;
  color: #292929;
  border: none;
  padding: .5rem 1.5rem;
  border-radius: .75rem;
  font-size: 1.6rem;
  font-family: 'Tektur', cursive;
  cursor: pointer;
  margin: 1rem auto;
  transition: all 0.3s ease-in-out;
}
table{
  width: 100%;
  padding: 2rem;
  border-collapse: collapse;
  border-spacing: 2rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: 'Tektur', cursive;
  text-align: center;
  margin: 2rem auto;
}
table th{
  padding: 1rem;
  border-bottom: 1px solid #ffffff;
}
table td{
  padding: 1rem;
  border-bottom: 1px solid #ffffff;
}
table tr:hover{
  background: #9c9c9c;
  color: #292929;
}
/* CSS pour le détail d'un Pokemon */